/* @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&family=Patrick+Hand+SC&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
 */
 
body {
  background-color: #eeeeee;
  margin: 0;
  
}

.raleway {
  font-family: 'Mukta', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-gradient {
  background-image: -webkit-linear-gradient(
    top left,
    #EAB2A0 0%,  
    #d6d4d4 45%,
    #A76F6F 100%
    
  );
}

.text-center-test {
  align-items: center;
  display: flex;
  justify-content: center;
  }


  /*ANIMATION TO REACT SCROLLING*/

.animate-down {
  animation-duration: 2s;
  animation-name: animate-down;
}
.animate-right {
  animation-duration: 2s;
  animation-name: animate-right;
}

.animate-appear {
  animation-duration: 3s;
  animation-name: animate-appear
}


@keyframes animate-down {
  0% {
    opacity: 0%;
    transform: translate(0,200px)
  }
  50%{
    opacity: 100%;
  }
}

@keyframes animate-right {
  0% {
    opacity: 0%;
    transform: translate(200px, 0)
  }
  50%{
    opacity: 100%;
  }
}

@keyframes animate-appear {
  0% {
    opacity: 0%;   
  }
  70%{
    opacity: 100%;
  }
}
